.telas-dark {
  background-color: #252440;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.telas-dark .breadcrumbs {
  align-items: center;
  display: inline-flex;
  gap: 6px;
  left: 176px;
  position: absolute;
  top: 30px;
}

.telas-dark .button-instance {
  flex: 0 0 auto !important;
}

.telas-dark .design-component-instance-node {
  color: #bcbcbc66 !important;
}

.telas-dark .button-divider {
  flex: 0 0 auto !important;
  position: relative !important;
}

.telas-dark .div-2 {
  background-color: #252440;
  height: 2609px;
  position: relative;
  width: 1440px;
}

.telas-dark .overlap {
  height: 2261px;
  left: 100px;
  position: absolute;
  top: 167px;
  width: 1240px;
}

.telas-dark .content {
  height: 2261px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1240px;
}

.telas-dark .overlap-wrapper {
  height: 433px;
  left: 316px;
  position: absolute;
  top: 464px;
  width: 296px;
}

.telas-dark .overlap-2 {
  background-color: #1d1932;
  border-radius: 18px;
  height: 433px;
  position: relative;
  width: 292px;
}

/* .telas-dark .text-wrapper {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  width: 157px;
} */

.telas-dark .bwg {
  height: 191px;
  left: 22px;
  position: absolute;
  top: 18px;
  width: 247px;
}

.telas-dark .p {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 277px;
  width: 235px;
}

.telas-dark .btn {
  all: unset;
  box-sizing: border-box;
  height: 40px;
  left: 21px;
  position: absolute;
  top: 372px;
  width: 253px;
}

.telas-dark .div-wrapper {
  -webkit-backdrop-filter: blur(8px) brightness(100%);
  backdrop-filter: blur(8px) brightness(100%);
  background-color: #252440;
  border: 1px solid;
  border-color: #65646a0d;
  border-radius: 9px;
  box-shadow: inset 0px 4px 12px #ffffff26, 0px 4px 8.9px #7c7c7c33;
  height: 40px;
  position: relative;
  width: 251px;
}

.telas-dark .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 157px;
}

.telas-dark .overlap-group-wrapper {
  height: 433px;
  left: 0;
  position: absolute;
  top: 464px;
  width: 296px;
}

.telas-dark .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
}

.telas-dark .overlap-3 {
  height: 190px;
  left: 20px;
  position: absolute;
  top: 18px;
  width: 251px;
}

.telas-dark .tela-viveiro {
  height: 190px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 247px;
}

.telas-dark .tela-tapume {
  height: 290px;
  left: 2px;
  position: absolute;
  top: 930px;
  width: 247px;
}

.telas-dark .tela-peneira {
  height: 290px;
  left: 315px;
  position: absolute;
  top: 930px;
  width: 247px;
}

.telas-dark .tela-concreto {
  height: 290px;
  left: 630px;
  position: absolute;
  top: 930px;
  width: 247px;
}

.telas-dark .tela-mosquiteiro {
  height: 190px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 247px;
}

.telas-dark .overlap-wrapper-2 {
  height: 433px;
  left: 948px;
  position: absolute;
  top: 0;
  width: 296px;
}

.telas-dark .text-wrapper-4 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  width: 143px;
}

.telas-dark .overlap-wrapper-3 {
  height: 433px;
  left: 632px;
  position: absolute;
  top: 0;
  width: 296px;
}

.telas-dark .text-wrapper-5 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 277px;
  width: 210px;
}

.telas-dark .overlap-wrapper-4 {
  height: 433px;
  left: 316px;
  position: absolute;
  top: 0;
  width: 296px;
}

.telas-dark .text-wrapper-6 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  width: 137px;
}

.telas-dark .text-wrapper-7 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 277px;
  width: 232px;
}

.telas-dark .overlap-wrapper-5 {
  height: 433px;
  left: 0;
  position: absolute;
  top: 0;
  width: 296px;
}

.telas-dark .text-wrapper-8 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  width: 151px;
}

.telas-dark .overlap-4 {
  height: 36px;
  position: relative;
  width: 122px;
}

.telas-dark .text-wrapper-9 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 122px;
}

.telas-dark .grid-telas {
  height: 897px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 1240px;
}

.telas-dark .tela-fachadeiro {
  height: 433px;
  left: 948px;
  position: absolute;
  top: 464px;
  width: 296px;
}

.telas-dark .overlap-5 {
  border-radius: 18px;
  height: 433px;
  position: relative;
  width: 292px;
}

.telas-dark .card {
  background-color: #1d1932;
  border-radius: 18px;
  height: 433px;
  left: 0;
  position: absolute;
  top: 0;
  width: 292px;
}

.telas-dark .text-wrapper-10 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  width: 150px;
}

.telas-dark .component {
  left: 26px !important;
  position: absolute !important;
  top: 19px !important;
}

.telas-dark .prote-o-de-queda-de {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 277px;
  width: 263px;
}

.telas-dark .tela-estuque {
  height: 433px;
  left: 632px;
  position: absolute;
  top: 464px;
  width: 296px;
}

.telas-dark .text-wrapper-11 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  width: 119px;
}

.telas-dark .flip-estuque-instance {
  left: 24px !important;
  position: absolute !important;
  top: 19px !important;
}

.telas-dark .refor-ar-argamassa {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 277px;
  width: 205px;
}

.telas-dark .flip-mosquiteiro-instance {
  left: 22px !important;
  position: absolute !important;
  top: 19px !important;
}

.telas-dark .text-wrapper-12 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  white-space: nowrap;
  width: 119px;
}

.telas-dark .flip-viveiro-instance {
  left: 23px !important;
  position: absolute !important;
  top: 19px !important;
}

.telas-dark .cria-o-de-aves-prote {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 277px;
  width: 188px;
}

.telas-dark .flip-galinheiro-instance {
  left: 20px !important;
  position: absolute !important;
  top: 18px !important;
}

.telas-dark .galinheiros-viveiros {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 277px;
  width: 160px;
}

.telas-dark .flip-pinteiro-instance {
  left: 22px !important;
  position: absolute !important;
  top: 18px !important;
}

.telas-dark .flip-ondulada-instance {
  left: 21px !important;
  position: absolute !important;
  top: 19px !important;
}

.telas-dark .flip-alambrado-instance {
  left: 25px !important;
  position: absolute !important;
  top: 26px !important;
}

.telas-dark .text-wrapper-13 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
  width: 153px;
}

.telas-dark .cercamento {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 277px;
  width: 130px;
}

.telas-dark .type-telas {
  height: 36px;
  left: 11px;
  position: absolute;
  top: 0px;
  width: 94px;
}

.telas-dark .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 92px;
}

.telas-dark .top-section {
  display: flex;
  justify-content: space-between;
  height: 231px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1240px;
}

.telas-dark .alambrado {
  background-size: 100% 100%;
  height: 231px;
  left: 0;
  position: absolute;
  top: 0;
  width: 608px;
}

.telas-dark .ondulada {
  background-size: 100% 100%;
  height: 231px;
  left: 632px;
  position: absolute;
  top: 0;
  width: 608px;
}

.telas-dark .text-wrapper-15 {
  color: #1d1932;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 497px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 674px;
}

.telas-dark .vector {
  height: 18px;
  left: 80px;
  position: absolute;
  top: 308px;
  width: 18px;
}

.telas-dark .header {
  background-color: transparent;
  height: 87px;
  left: 100px;
  position: absolute;
  top: 38px;
  width: 1240px;
}

.telas-dark .whatsapp-logo {
  height: 21px !important;
  left: 1219px !important;
  position: absolute !important;
  top: 30px !important;
  width: 21px !important;
}

.telas-dark .instagram-1 {
  height: 19px !important;
  left: 1185px !important;
  position: absolute !important;
  top: 32px !important;
  width: 19px !important;
}

.telas-dark .overlap-group-2 {
  background-color: #1d1932;
  border-radius: 12px;
  height: 51px;
  position: relative;
  width: 444px;
}

.telas-dark .text-wrapper-16 {
  color: #68676e;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 248px;
}

.telas-dark .logotipo-branco {
  height: 87px;
  left: 0;
  position: absolute;
  top: 0;
  width: 122px;
}

.telas-dark .mode {
  height: 19px;
  left: 1152px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 19px;
}
