.button {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.button .text-wrapper {
  color: #00000066;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.button:hover .text-wrapper {
  color: #3860ff;
  text-decoration: underline;
}
