.flip-viveiro {
  height: 190px;
  width: 247px;
}

.flip-viveiro .back-side-viveiro {
  background-image: url(../images/flipViveiro2.svg);
  background-size: 100% 100%;
  height: 190px;
}

.flip-viveiro .image-3 {
  height: 190px;
  left: 0;
  position: absolute;
  top: 0;
  width: 247px;
}

.flip-viveiro.property-1-0-component-1 {
  background-image: url(../images/flipViveiro2.svg);
  background-size: 100% 100%;
}

.flip-viveiro.property-1-0-component-2 .back-side-viveiro {
  position: relative;
}
