.flip-estuque {
  background-image: url(https://c.animaapp.com/VEoDEv2v/img/telaestuque-2@2x.png);
  background-size: 100% 100%;
  height: 189px;
  width: 245px;
}

.flip-estuque .div {
  background-image: url(https://c.animaapp.com/VEoDEv2v/img/image-14-1@2x.png);
  background-size: 100% 100%;
  height: 189px;
}

.flip-estuque:hover {
  background-image: url(https://c.animaapp.com/VEoDEv2v/img/image-14-1@2x.png);
}

.flip-estuque:hover .div {
  background-image: url(https://c.animaapp.com/VEoDEv2v/img/telaestuque-2@2x.png);
}
