.flip-fachadeiro {
  height: 190px;
  width: 247px;
}

.flip-fachadeiro .back-side-fachadeiro {
  background-image: url(../images/flipFachadeiro2.svg);
  background-size: 100% 100%;
  height: 190px;
}

.flip-fachadeiro .image-3 {
  height: 190px;
  left: 0;
  position: absolute;
  top: 0;
  width: 247px;
}

.flip-fachadeiro.property-1-0-component-1 {
  background-image: url(../images/flipFachadeiro2.svg);
  background-size: 100% 100%;
}

.flip-fachadeiro.property-1-0-component-2 .back-side-fachadeiro {
  position: relative;
}
